.firework {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #a855f7;
  border-radius: 9999px;
  animation: explode 1500ms ease-out forwards;
  box-shadow: 0 0 #a855f7,
  0 0 #a855f7,
  0 0 #a855f7,
  0 0 #a855f7,
  0 0 #a855f7,
  0 0 #a855f7,
  0 0 #a855f7,
  0 0 #a855f7;
}

@keyframes explode {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(40);
    opacity: 0;
    box-shadow: -20px -20px #a855f7,
    20px -20px #a855f7,
    -20px 20px #a855f7,
    20px 20px #a855f7,
    0 -30px #a855f7,
    0 30px #a855f7,
    -30px 0 #a855f7,
    30px 0 #a855f7;
  }
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-12px); }
  40% { transform: translateX(12px); }
  60% { transform: translateX(-10px); }
  80% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.8s ease-in-out;
}


